
.dataset {
  text-align: center;
  margin-bottom: 100px;
}

.payload-cell {
  text-align: left;
  margin: 10px auto;
}

.metadata-cell {
  margin-top: 5px;
  text-align: left;
}

.spinner-container {
  height: 360px;
  width: 390px;
  align-items: center;
}

.dataset-table {
  min-height: 360px;
  margin-top: 10px;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}

.table-header {
  background-color: lightgray;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: larger;
  text-align: center;
  align-content: center;
}
